@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&display=swap");
/* Main colors */
/* Fonts */
/* Font Sizes */
/* GENERIC STYLES */
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  font-family: "Lato", sans-serif;
}

/* HEADER STYLES */
/* HEADER STYLES --- TOP HEADER */
.top-header {
  height: auto;
  background-color: #40575C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 1rem;
}

@media only screen and (min-width: 600px) {
  .top-header {
    flex-direction: row;
  }
}

.top-header .top-tag {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #b1c5c0;
}

.top-header .company-name {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #b1c5c0;
}

/* HEADER STYLES --- TOP HEADER */
.main-header {
  background-color: #779990;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header-wrapper h1, .main-header-wrapper h2 {
  color: #fafbfb;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.main-header-wrapper h2 {
  font-weight: 100;
}

@media only screen and (min-width: 600px) {
  .main-header {
    min-height: 50vh;
  }
  .main-header-wrapper h1, .main-header-wrapper h2 {
    font-size: 3.052rem;
  }
}

/* FOOTER STYLES */
.footer-bottom {
  background-color: #40575C;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: #b1c5c0;
  font-weight: 100;
}

.social-media-links {
  padding: 1rem;
}

.social-media-links a {
  font-size: 1.3rem;
  padding: 1rem .5rem;
  color: #b1c5c0;
}

.social-media-links a:hover {
  opacity: 0.5;
}
